<div id="shareContainer" style="left:0 !important">
	<ul>
		<li><a href="https://www.facebook.com/jonahfried" class="facebook">&nbsp;</a></li>
		<li><a href="https://www.pinterest.com/jonahfried/" class="pinterest">&nbsp;</a></li>
		<li><a href="https://www.youtube.com/channel/UCJjlAOcInl6tw-EDJoVbD9g" class="youtube">&nbsp;</a></li>
		<!-- <li><a href="http://www.linkedin.com/company/sharethis" class="linkedin">&nbsp;</a></li> -->
		<!--<li><a href="http://www.sharethis.com/feed/" class="rss">&nbsp;</a></li>-->
	</ul>
</div>