---
layout: default
---
<div class="showcase-wrapper">
	<div class="showcase-wrapper-content container-fluid">
		<div class="col-sm-12" id="slideshow">
			    <div id="slideshow-content">
			    	{% for post in site.posts %}
			    		{% if post.categories contains page.category %}
					    	<div>
					    	<a href="{{ post.url }}">
					    		<img src="{{ post.image }}?raw=1">
		    			    </a>
		    			    </div>
		    			{% endif %}
    			    {% endfor %}
    	  		</div>
		</div>
	</div>
</div>

{% include menu.html %}
{% include exibit_matrix.html %}